.header {
  display: flex;
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1rem;
  background-color: rgba(0,0,0, 0.05);
  border-radius: 4px;
  margin-top: 1rem;
}

.header h3 {
  margin-bottom: 0;
}

.header__item {
  flex: 1;
}

.header__item:last-child {
  text-align: right;
  padding-top: 3rem;
}

.header__item a {
  margin-left: 2rem;
  color: #28a745;
  font-weight: 700;
  text-decoration: underline;
}

.header__item--title a {
  text-decoration: none;
}
