html, body {
  min-height: 100%;
}

html {
  /*font-size: 90%;*/
}

body {
  background: #fafafa;
}

ol, ul, ul ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.button--primary:hover {
  color: white;
}

.container {
  margin: 0 auto;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  max-width: 80rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

h1 {
  margin-bottom: 4rem;
}

.form__item {
  margin-bottom: 1rem;
}

.form__label {
  display: block;
  font-weight: 400;
}

.form__input {
  padding: 1rem;
  border: .1rem solid rgba(0,0,0,.2);
  font-style: 2rem;
  width: 100%;
  outline: none;
}

footer {
  padding-bottom: 1rem;
}
